<div class="row">
  <div class="col-sm-5">
    <app-card cardTitle="Movimientos de Almacenes" cardClass="Application-list" blockClass="pb-0" [options]="false">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Fecha:</label><br>
            {{fecha | date: 'fullDate'}}
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Proceso:</label>
            <select name="proceso" [(ngModel)]="kardex.idproceso" class="form-control form-control-default">
              <option [value]="0">Seleccionar...</option>
              <option [value]="proc.idproceso" *ngFor="let proc of proceso">{{proc.proceso}}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Sucursal:</label>
            <select name="sucursal" class="form-control form-control-default"
              (change)="obtenerAlmacen($event.target.value)">
              <option [value]="0">Seleccionar...</option>
              <option [value]="sucu.idsucursal" *ngFor="let sucu of sucursal">{{sucu.sucursal}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Almacen:</label>
            <select name="almacen" [(ngModel)]="kardex.idalmacen" class="form-control form-control-default">
              <option [value]="0" selected>Seleccionar...</option>
              <option [value]="alma.idalmacen" *ngFor="let alma of almacen">{{alma.almacen}}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Concepto:</label>
            <input #concepto type="text" class="form-control" placeholder="Concepto" name="concepto"
              [(ngModel)]="kardex.concepto" (input)="concepto.value=$event.target.value.toUpperCase()">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Proveedor:</label>
            <select name="proveedor" [(ngModel)]="kardex.idproveedor" class="form-control form-control-default"
              (change)="getProductos($event.target.value)">
              <option [value]="0" selected>Seleccionar...</option>
              <option [value]="prov.idproveedor" *ngFor="let prov of proveedor">{{prov.proveedor}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Tipo de Compra:</label>
            <select name="kardex" [(ngModel)]="kardex.tipo" class="form-control form-control-default">
              <option value=" " selected>Seleccionar...</option>
              <option value="Factura">Factura</option>
              <option value="Remision">Remision</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Folio {{kardex.tipo | titlecase}}:</label>
            <input #folio type="text" class="form-control" placeholder="Folio" name="folio" [(ngModel)]="kardex.folio"
              (input)="folio.value=$event.target.value.toUpperCase()">
          </div>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-sm-7">
    <app-card cardTitle="Busqueda de Productos" cardClass="Application-list" blockClass="pb-0" [options]="false">
      <div class="row">
        <div class="col-md-12">
          <button type="button" class="btn btn-primary" style="position:absolute; bottom:34px; right:0px;"
            [routerLink]="['/products']">Agregar Nuevo Producto</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9">
          <div class="form-group">
            <label>Codigo:</label>
            <ng-select [items]="productos" bindLabel="nombre" bindValue="idarticulo" [(ngModel)]="ProductoId">
            </ng-select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group" style="align-items: center;">
            <button type="button" class="btn btn-info" (click)="buscar()">Buscar</button>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="articulo">
        <div class="col-md-12">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Codigo</th>
                <th>Descripcion</th>
                <th>Cantidad</th>
                <th>Costo</th>
                <th>Total</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{articulo.codigobarras}}</td>
                <td>{{articulo.nombre}}</td>
                <td><input #cantidad type="number" class="form-control" placeholder="Cantidad" name="cantidad"
                    [(ngModel)]="articulo.cantidad" (input)="cantidad.value=$event.target.value.toUpperCase()"></td>
                <td> <input #costo type="number" class="form-control" placeholder="Costo" name="costo"
                    [(ngModel)]="articulo.costo" (input)="costo.value=$event.target.value.toUpperCase()"></td>
                <td>{{(articulo.cantidad * articulo.costo) | currency: 'MXN' }}</td>
                <td><button type="button" class="btn btn-icon btn-info" (click)="addFieldValue()"
                    ngbTooltip="Agregar Producto"><i class="feather icon-download"></i></button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-sm-12" *ngIf="fieldArray.length > 0">
    <app-card cardTitle="Detalle" cardClass="Application-list" blockClass="pb-0" [options]="false">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>No</th>
                <th>Codigo</th>
                <th>Descripción</th>
                <th>Cantidad</th>
                <th>Costo</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let field of fieldArray; let i = index">
                <td>{{i + 1}}</td>
                <td>{{field.codigobarras}}</td>
                <td>{{field.nombre}}</td>
                <td align="right">{{field.cantidad}}</td>
                <td align="right">{{field.costo | currency: 'MXN'}}</td>
                <td>
                  <button type="button" class="btn btn-icon btn-danger" (click)="deleteFieldValue(i)"
                    ngbTooltip="Quitar Producto"><i class="feather icon-x-square"></i></button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td></td>
                <td></td>
                <td>Total</td>
                <td align="right">{{resultado}}</td>
                <td></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button type="button" class="btn btn-info" (click)="guardar()">Guardar</button>
        </div>
      </div>
    </app-card>
  </div>
</div>
