<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Lista de Puesto" cardClass="Application-list" blockClass="pb-0" [options]="false">
      <div class="row">
        <div class="col-md-6 m-b-30" style="text-align:left;">
          <button type="button" class="btn btn-info" (click)="refrescarTabla()"><i
              class="feather icon-refresh-cw"></i>Refrescar Tabla</button>
        </div>
        <div class="col-md-6 m-b-30" style="text-align:right;">
          <button type="button" class="btn btn-primary" (click)="ver('new', '', puestoModal)"><i
              class="feather icon-edit-2"></i>Agregar
            Puesto</button>
        </div>
      </div>
      <hr>
      <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
          class="table table-striped row-border table-hover">
          <thead>
            <tr>
              <th>No.</th>
              <th>Puesto</th>
              <th>Comision</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let puesto of puestos">
              <td>{{puesto.idpuesto}}</td>
              <td>{{puesto.puesto}}</td>
              <td>
                <button type="button" class="btn btn-icon btn-outline-success" ngbTooltip="Actualizar Dato"
                  (click)="ver('update', puesto, puestoModal)"><i class="feather icon-edit-1"></i></button>
                <button type="button" class="btn btn-icon btn-outline-info" ngbTooltip="Comision Dato"
                  *ngIf="puesto.comision == '1'" (click)="ver('comision', puesto, comisionModal)"><i
                    class="feather icon-percent"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>


<ng-template #puestoModal>
  <div class="modal-header">
    <h4 class="modal-title">Datos del Puesto</h4>
  </div>
  <div class="modal-body" *ngIf="status == 'update' || status == 'new'">
    <form id="form-puesto" #validationPuesto="ngForm">
      <div class="form-group">
        <div class="row">
          <div class="col-md-12 m-b-30">
            <label>Nombre de la Puesto</label>
            <input #puesto type="text" class="form-control" placeholder="Nombre Puesto" name="puesto"
              [(ngModel)]="pue.puesto" (input)="puesto.value=$event.target.value.toUpperCase()">
          </div>
          <div class="col-md-12 m-b-30">
            <div class="checkbox d-inline">
              <input type="checkbox" name="comision" id="comision" [(ngModel)]="ischecked" [checked]="ischecked">
              <label for="comision" class="cr">Comison</label>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-warning" (click)="cerrar()"><i class="feather icon-x-square"></i>Cerrar
      Ventana</button>
    <button type="button" class="btn btn-primary" (click)="guardar()" *ngIf="status == 'update' || status == 'new'"><i
        class="feather icon-save"></i>Guardar</button>
  </div>
</ng-template>

<ng-template #comisionModal>
  <div class="modal-header">
    <h4 class="modal-title">Datos del Comision</h4>
  </div>
  <div class="modal-body">
    <form id="form-puesto" #validationPuesto="ngForm">
      <div class="form-group">
        <div class="row">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Clasificacion</th>
                  <th>Comision</th>
              </thead>
              <tbody>
                <tr *ngFor="let com of comision;let i = index;">
                  <td>{{com.clasificacion}}</td>
                  <td>
                    <div class="input-group mb-3">
                      <input #comision type="number" min="1" max="40" class="form-control" placeholder="Comision"
                        name="comision{{com.comision}}" [(ngModel)]="com.comision" [value]="com.comision">
                      <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">%</span>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-warning" (click)="cerrar()"><i class="feather icon-x-square"></i>Cerrar
      Ventana</button>
    <button type="button" class="btn btn-primary" (click)="guardar()"><i class="feather icon-save"></i>Guardar</button>
  </div>
</ng-template>
